body{
max-width: 90%;
margin: 30px auto 30px;
background-color: #E5E5E5;
}

h2{
    margin: 0;
}

a{
    color: inherit;
    /* text-decoration: none; */
}

img{
max-width: 100%;
}

ul{
    list-style-type: none;
    padding-inline-start: 0;
}

button{
    border: none;
    background-color: transparent;
}

.section-content, .main-header{
    margin-bottom: 70px;

}
 .nav-list, .nav-item-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-header{
    height: 80px;
}
.want{
    background-color: #3172B9;
    color: #fff;
    font-size: 15px;
    border-radius: 2px;
    height: 50px;
    width: 150px;
}

.nav-list-item{
    font-size: 15px;
    color: #1C1C1C;
    padding-left: 52px;
}

.nav-buttons{
  padding-left: 52px;
}

.nav-list-item:nth-child(2) a {
  color: #3172B9;
    padding-left: 250px;

}

.nav-list-item:not(:nth-child(2)) a {
  text-decoration: none;
}

.img-home {
position: relative;
}

.item-home{
position: absolute;
z-index: 2;
padding: 50px 45px;

}

.article-home{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.special-offer-list-item{
    color: #1C1C1C;
    font-size: 40px;
    font-weight: 600;
   
}



.special-offer{
    display: inline-block;
}

.special-offer-p{
    color: #787878;
    width: 210px;

}

.link-list{
    background-color: #3172B9;
    color: #fff;
    font-size: 15px;
    border-radius: 2px;
    height: 50px;
    width: 200px;
}


.services {
    display: flex;
    justify-content: center;
    align-items: center;
      top: 261px;
    bottom: 10px
}

.special {
    text-align: center;
    list-style: none;
    padding: 0;
}

.services1 h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.services2 p {
    font-size: 16px;
    max-width: 400px;
}

.special-offer-img{
    position: relative;
}

.special-offer-div{
    position: absolute;
}